<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr class="active">
        <th>客户姓名</th>
        <th>订单时间</th>
        <th>订单时间</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%=  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @orders, :renderer => BootstrapPagination::Rails %>