<div class="main-content">
  <div class="title-bread clearfix">
    <div class="content clearfix">
      <div class="left-bread pull-left">
        <h3><span>联系我们</span><small>Contact Us</small></h3>
      </div>
      <div class="right-bread pull-right">&nbsp;</div>
    </div>
  </div>

  <div class="left-right">
    <div class="content clearfix">
      <div class="left-box pull-left">
        <!--百度地图容器-->
        <div style="width:686px;height:325px;border:#ccc solid 1px;" id="dituContent"></div>
        <div class="left-content left-contact">
          <h4 class="cn-en-title">如何联系我们<small>How to contact us</small></h4>
          <p class="contact-bus">乘车路线：乘12路，26路，31路，33路，104路，110路，125路，224路，225路，228路，231路，232路，304路，311路，312路，314路，316路，319路，321路，374路，402路，501路，601路，机场巴士1号线浮山所站，乘216路新闻中心站下。</p>
          <p class="contact-adress">地址：青岛市市南区香港中路36号招银大厦1707</p>
          <p class="contact-tel">电话：0532-89999108 / 0532-89999508 / 0532-89999608</p>
          <p class="contact-website">网址：<a href="http://www.wanmenhua.com">http://www.wanmenhua.com</a></p>
          <p class="contact-fax">传真：0532-89999108</p>
          <p class="contact-weixin">微信公众号：1548163167</p>
        </div>
      </div>

      <%= render "right_bar" %>

    </div>
  </div>
</div>

<%= content_for :js do %>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
      }

    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(120.396331,36.071925);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
      }

    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
      }

    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_SMALL});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
      }

    //标注点数组
    var markerArr = [{title:"招银大厦",content:"青岛市市南区香港中路36号招银大厦1707",point:"120.396241|36.07148",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];

    //创建marker
    function addMarker(){
      for(var i=0;i<markerArr.length;i++){
        var json = markerArr[i];
        var p0 = json.point.split("|")[0];
        var p1 = json.point.split("|")[1];
        var point = new BMap.Point(p0,p1);
        var iconImg = createIcon(json.icon);
        var marker = new BMap.Marker(point,{icon:iconImg});
        var iw = createInfoWindow(i);
        var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
        marker.setLabel(label);
        map.addOverlay(marker);
        label.setStyle({
          borderColor:"#808080",
          color:"#333",
          cursor:"pointer"
        });

        (function(){
          var index = i;
          var _iw = createInfoWindow(i);
          var _marker = marker;
          _marker.addEventListener("click",function(){
            this.openInfoWindow(_iw);
          });
          _iw.addEventListener("open",function(){
            _marker.getLabel().hide();
          })
          _iw.addEventListener("close",function(){
            _marker.getLabel().show();
          })
          label.addEventListener("click",function(){
            _marker.openInfoWindow(_iw);
          })
          if(!!json.isOpen){
            label.hide();
            _marker.openInfoWindow(_iw);
          }
        })()
      }
    }

    //创建InfoWindow
    function createInfoWindow(i){
      var json = markerArr[i];
      var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
      return iw;
    }

    //创建一个Icon
    function createIcon(json){
      var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
      return icon;
    }
    
    initMap();//创建和初始化地图
  </script>
  <% end %>