<footer>
  <div class="footer-inner">
    <div class="content">
      <div class="footer-center clearfix">
        <div class="footer-list pull-left">
          <h3>联系我们</h3>
          <div class="foot-saying">
            <p>应试公关成就你的人生</p>
            <p>pr examination achievements of your life</p>
          </div>
          <div class="foot-contact">
            <p class="foot-dress">地址：青岛市市南区香港中路36号招银大厦1707</p>
            <p class="foot-tel">电话：0532-89999108</p>
            <p class="foot-fax">传真：0532-89999108</p>
          </div>
        </div>
        <div class="footer-list pull-left">
          <h3>最新动态</h3>
          <div class="foot-news clearfix">
            <div class="ft-title-img pull-left">
              <a href="#">12/03</a>
            </div>
            <div class="ft-news-text pull-left">
              <h4><a href="#">公司最新动态新闻</a></h4>
              <p>该字数限制在两行以内，“有什么问题要问我吗”？</p>
            </div>
          </div>

          <div class="foot-news clearfix">
            <div class="ft-title-img pull-left">
              <a href="#">12/02</a>
            </div>
            <div class="ft-news-text pull-left">
              <h4><a href="#">公司最新动态新闻公司最新动态新闻公司最新动态新闻</a></h4>
              <p>在面试的时候，面试官会问你，“有什么问题要问我吗”？</p>
            </div>
          </div>
        </div>
        <div class="footer-list footer-list-last pull-left">
          <h3>关注万门华</h3>
          <div class="ft-weixin text-center">
            <p>公众微信号：1548163167</p>
            <%= image_tag "weixin_03.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="CopyRight">
  <div class="content clearfix">
    <span class="pull-left">万门华公关咨询有限公司版权所有</span>
    <span class="pull-right">省ICP备B2-20090059-86号</span>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".nav-dropdown > li").hover(function(){
      $(this).find("ul").stop().slideDown("normal")
    },function(){
      $(this).find("ul").stop().slideUp("normal")
    })  
  })
</script>