<div class="right-box pull-right">
<div class="right-box-inner">
  <h4 class="cn-en-title">赠言<small>Words of advice</small></h4>
  <div class="right-content">
    <ul class="zengyan">
      <li>
        我们关心的不是你是否失败了，而是你失败能否无怨。
        <p class="text-right">—林肯</p>
      </li>
      <li>
        人生犹如一本书，愚蠢者草草翻过，聪明人细细阅读。为何如此？因为他们只能读它一次。
        <p class="text-right">—保罗</p>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<div class="right-box-inner">
  <h4 class="cn-en-title">环境<small>Environment</small></h4>
  <div class="right-content">
    <ul class="environment clearfix">
      <li>
      <a href="#"><%= image_tag "huanjing_03.jpg" %></a>
      </li>
      <li>
        <a href="#"><%= image_tag "huanjing_05.jpg" %></a>
      </li>
      <li class="last">
        <a href="#"><%= image_tag "huanjing_07.jpg" %></a>
      </li>
    </ul>
    <div class="clearfix"><%= link_to "阅读更多", info_path(4), class: "btn pull-right" %></div>
  </div>
</div>
</div>