<div class="main-content">
  <div class="title-bread clearfix">
    <div class="content clearfix">
      <div class="left-bread pull-left">
        <h3><span>项目简介</span><small>Project Description</small></h3>
      </div>
      <div class="right-bread pull-right">&nbsp;</div>
    </div>
  </div>

  <div class="left-right">
    <div class="content clearfix">
      <div class="left-box pull-left">
        <%= image_tag "jianjie_03.jpg" %>
        <div class="left-content">
          <h4>万门华项目简介</h4>
          <p>在当前国内，每年会有几百万人要应对各种大小考试。公务员考试、各种专业技能、职业技能、高考、中考以及专业语言类考试。其中绝大部分考试可能会影响到考生将来的职业规划以及人生道路。</p>
          <p>面对即将考试的情境而产生恐惧心理是人类的共性，它同时伴随着各种不适的，各种不确定的因素与身心状态，影响着考试成绩或考试失利。如不及时调整，可形成恶性循环，损失金钱与时间成本。考试是人类现实生活的一门必修课，也是现代人类改变命运走向成功的某种途径。考生能够从容应考绝对是其成功道路上不可多得的能力。</p>
          <p>斯坦福大学（STANFORD UNIVERSITY）行为心理学教授，卡罗尔.德韦克（CAROL DWECK）教授通过各种调查得出数据47.98%的考生会有考前焦虑，这是一种常见情绪反应。这是一种缺乏客观原因的期待性紧张不安和担忧，预感到即将大祸临头又难以应付的不愉快情绪。又有21.56%的考生产生考前抑郁，考生在面临比如高考、公务员考试、司法考试等等大考之前，出现的烦躁，坐卧不安、学习效率低下、吃饭无味、食欲下降、失眠、头晕脑昏等症状，这就是考前忧郁所致。如不及时调节，如果考试失败可能会影响考生的一生。对信心甚至前途造成巨大的打击。严重的会产生自杀或者自虐情绪。而这只仅仅 是心理方面，除此之外应考人对自己未来的职业信心、社会公共圈层、生活规律、相关应试咨询资讯、自我评估、家庭氛围甚至家庭成员生活习惯等，这些点点滴滴都在影响应考人的状态及成绩。</p>
          <p>本公司以专业的应试公关服务，能够帮助考生更好的安排应试前的工作生活、整合与共享各类别应试经验以及调整心态释放压力。公司团队具有丰富的公关服务经验，汇集了设计、文案、策划、课件整理、讲座活动执行、客服等各方面人才，并配合各大院校的客座教授为应试公关服务的品质保驾护航。</p>
          <p>青岛万门华公关咨询有限公司将本着信誉、权威、专业的服务理念，以诚合作，认真负责的工作态度，以让您耳目一新的公关方式，帮助考生发挥出至少是自己应有的专业水平。</p>
        </div>
      </div>
      
      <%= render "right_bar" %>
    </div>
  </div>
</div>